body {
  background-color: #D3D3D3 !important; /* dark grey background */
  color: #0d0d0d !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

/* a {
  color: #4ea1f3;  link colour 
}

a:hover {
  color: #81c4ff;  lighter link hover 
}
*/
